.what_is_predict_card_bg {
  background-image: url('../../assets/images/home/what_is_predict/what_is_predict_card_bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.prediction_platform_card_bg {
  background-image: url('../../assets/images/home/prediction_platform/prediction_platform_card_bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* @media screen and (max-width: 768px) {
    .what_is_predict_coin_image {
        background-image: url('../../assets/images/home/what_is_predict/what_is_predict_coin_image_mobile.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
} */